snippet div "<div>" w
<div>
	${0:${VISUAL}}
</div>
endsnippet

snippet divc "div with class"
<div class="$1">
	$0
</div>
endsnippet

snippet el "element"
<$1>
	$0
</$1>
endsnippet

snippet elc "element with class"
<$1 class="$2">
</$1>
endsnippet
